.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  
  .title {
    display: flex;
    flex-direction: column;
    gap: .44rem;

    color: #000;
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: -0.01375rem;

    span {
      color: #16C098;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: -0.00875rem;
    }
  }
}